.button {
    border: none;

    background: var(--button-background-primary);
    border-radius: var(--button-border-radius);
    color: var(--color-text-opposite);

    padding: 5px 20px;

    font-size: 12px;
    line-height: 18px;
}
