.button {
    border: none;

    border-radius: var(--button-border-radius);
    color: var(--color-text-opposite);

    padding: 5px 20px;

    font-size: 12px;
    line-height: 18px;
}

.themeDefault {
    background: none;
    color: var(--color-button);
    border: 2px solid var(--color-button);
}

.themePrimary {
    background: var(--color-button);
    border: 2px solid var(--color-button);
}

.themeLink {
    color: var(--color-button);
    background: none;
}
