.button {
    border: none;

    border-radius: var(--button-border-radius);
    color: var(--color-text-opposite);
}

.themeDefault {
    background: none;
    color: var(--color-button);
    border: 2px solid var(--color-button);
}

.themePrimary {
    background: var(--color-button);
    border: 2px solid var(--color-button);
}

.themeLink {
    color: var(--color-button);
    background: none;
}

.sizeSmall {
    padding: 4px 20px;
    font-size: 12px;
    line-height: 18px;
}

.sizeDefault {
    padding: 4px 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.sizeBig {
    padding: 20px 60px;

    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.disabled {
    pointer-events: none;
    --color-button: #b6b8c1;
}
