.layout {
    --padding: 0 128px;

    overflow-x: hidden;
    overflow-y: auto;
}

.layout h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;

    color: #091133;
}

.layout h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    color: #091133;
}

.description {
    color: #505f98;
}

.content {
    padding: 0 128px;
}
