.layout {
    --padding: 0 128px;
}

.description {
    color: #505f98;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 0 128px;
    margin-top: 5px;
}

.hero {
    width: 100%;
    height: 100vh;

    background-image: url('/hero.jpg');
    background-size: cover;

    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.content {
    /* flex: 1 1 33%; */
    /* flex: 1; */
    /* width: 50%; */

    padding: 0 128px;
}

.hero .heroButtons {
    padding-top: 64px;
}

.about {
    margin: 120px 0;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

.about img {
    width: 400px;
}

.about .aboutText {
    width: 500px;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.steps {
    margin-top: 128px;

    padding: 0 10%;

    display: flex;
    justify-content: space-around;
}

.steps .step {
    height: 150px;
    width: 150px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.step img {
    margin-bottom: 24px;
}

.step .stepTitle {
    margin-bottom: 24px;
}

.cards {
    margin: 128px 0;
    padding: var(--padding);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    background-color: lightsteelblue;
}
