.logo {
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;

    text-align: center;

    color: var(--color-logo);

    text-decoration: none;

    padding: 0 5%;
}

@media screen and (max-width : 1280px) {
    .logo {
        padding: 0;
        text-align: start;

        flex: 1;
    }
}

@media screen and (max-width : 480px) {
    .logo {
        text-align: center;
    }
}
