.container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 5%;

    background-color: white;
}

.picture {
    max-width: 45%;
    object-fit: contain;

    margin-right: 128px;
}

.text {
    color: var(--color-text);
}

@media screen and (max-width : 480px) {
    .container {
        flex-direction: column-reverse;
        padding-top: 20%;
        padding-bottom: 48px;
    }

    .picture {
        max-width: 100%;
        margin-right: 0;
    }
}