.step {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: center; */

    width: 190px;
    margin-right: 24px;
}

.step ul {
    padding: 0;
    list-style: none;
}

.step li {
    line-height: 1.25em;

    position: relative;
    padding: 8px 0px 8px 48px;
    margin: 0px 0px 16px;
}

.step ul li:before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;

    left: 0px;
    top: 0px;

    background-image: url('/static/plus-icon.png');
    background-size: 32px;
}

@media screen and (max-width: 480px) {
}
