.step {
    display: flex;
    align-items: center;
}

.content {
    width: 190px;
    margin-right: 24px;
}

.content p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

.icon {
    width: 40px;
}

.arrow {
    margin-right: 24px;
}

@media screen and (max-width : 480px) {
    .arrow {
        display: none;
    }

    .content {
        margin-right: 0;
        margin-bottom: 48px;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content h3 {
        /* h2 size  */
        font-size: 36px;
        line-height: 48px;

        margin: .25em 0;
    }

    .icon {
        width: 30%;
    }
}