.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 5%;
    
    background-color: white;
}

@media screen and (max-width : 480px) {
    .container {
        flex-wrap: wrap;
    }
}
