.container {
    display: flex;
    justify-content: flex-start;

    width: 100%;
    padding: 0 5%;
    padding-top: 32px;
}

@media screen and (max-width : 480px) {
    .container {
        flex-wrap: wrap;
    }
}
