.test {
    animation-duration: 120s;
    animation-name: name;
    animation-iteration-count: infinite;
}

@keyframes name { 
    from { transform: rotate(0deg); } 
    to { transform: rotate(360deg); }  
}