@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

:root {
    --border-radius: 10px;
    --button-border-radius: 10px;

    --button-background-primary: #111b47;

    --color-background: white;
    --color-text: black;
    --color-text-opposite: white;
    --color-button: #111b47;

    --font-family: 'Roboto', Helvetica, serif;
}

html,
body {
    padding: 0;
    margin: 0;

    font-family: var(--font-family);
}

* {
    box-sizing: border-box;
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;

    color: #091133;
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    color: #091133;
}