@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

:root {
    --border-radius: 10px;
    --button-border-radius: 10px;

    --button-background-primary: #111b47;

    --color-background: white;
    --color-text: black;
    --color-text-opposite: white;
    --color-button: #111b47;

    --font-family: 'Roboto', sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;

    font-family: var(--font-family);
}

* {
    box-sizing: border-box;
}
